<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>swoopy.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swoopy</string>
			</array>
		</dict>
	</array>
	<key>OneSignalAppID</key>
	<string>f22c666f-ed87-4d91-bcca-1c27f059987f</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.Swoopy</string>
	<key>SmartlookProjectKey</key>
	<string>6ca49e4d5c6c098cd2aee92d68dc987c0f8fc8fa</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0eHJ1Z3RoYmRobGd5dHhzZ2VhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNTIyODAsImV4cCI6MjA4MDkyODI4MH0.HJrsde-KVDzF5Rjyw1UCfwkF842_aXcU-r9P8JkIiyc</string>
	<key>SupabaseUrl</key>
	<string>https://xtxrugthbdhlgytxsgea.supabase.co</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<false/>
</dict>
</plist>
